<div class="row text-center">
	<div class="col-md-8 offset-md-2">
		<h1>Soyther</h1>
		</br>
		<p class="lead">This in an express weather app using the Mapbox geocoder and Weatherstack API. Enter a location in
			the search bar up above to get its current weather information. The API only needs a city name but to get
			accurate results include the region or country of the place you're looking
			for.
		</p>
	</div>
</div>