<div class="row text-center">
	<div class="col-md-8 offset-md-2">
		<div>
			<h1><%= error %></h1>
			</br><p class="lead">
				Looks like whatever you were trying to do didn't work. You can search for some weather data by entering a location up above or go back home by clicking
				<a href="/" class="text-white">here.</a>
			</p>
			
		</div>
	</div>
</div>