<% layout('layout/boilerplate') %>
<div class="row">
	<div class="col-md-4 offset-md-4">
		<div class="card shadow opacity-75 bg-dark px-3">
			<div class="card-body">
				<h5 class="card-title">
					Caracal, Olt
				</h5>
				<h6 class="card-subtitle">
					sunny
				</h6>
			</div>
			<hr>
			<ul>
				<li>
					temperature:
					28 °C
				</li>
				<li>
					feels like:
					29 °C
				</li>
				<li>
					wind speed:
					0 m/s
				</li>
				<li>
					air pressure:
					1 mbar
				</li>
				<li>
					precipitations:
					0 mm
				</li>
				<li>
					humidity:
					37 %
				</li>
				<li>
					cloud cover:
					0 %
				</li>
			</ul>
		</div>
	</div>
</div>